<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10955010656-ogm4e4d72jk9oepk8cic72gbjv54bf7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10955010656-ogm4e4d72jk9oepk8cic72gbjv54bf7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10955010656-ev6rpqf8lea0fbbnfgl4rl86crp7mdll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEDU8YltbfmmayAc0gwloRFAongr8Rnys</string>
	<key>GCM_SENDER_ID</key>
	<string>10955010656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsChatApp</string>
	<key>PROJECT_ID</key>
	<string>newschatapp-3a75a</string>
	<key>STORAGE_BUCKET</key>
	<string>newschatapp-3a75a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10955010656:ios:9a223712fb9f9409ad4905</string>
</dict>
</plist>